@import './scss/variables';

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'BYUI Open Sans', 'Open Sans', 'Lucida Sans Unicode',
        'Lucida Grande', Verdana, sans-serif;
    font-size: 15px;
}
header {
    width: 100%;
    height: 150px;
    color: $header--primary--color;
    background-color: $header--background--color;
    display: grid;
    grid-template: 60px 1fr / 4em 1fr max-content;
    grid-template-areas:
        'logo navs buttons'
        'title title title';
}

.nav--links {
    list-style-type: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.5em;
}
.header--nav {
    grid-area: navs;
    display: none;
}
.header--nav ul {
    // margin: 0;
    padding: 0;
}
.nav--links i {
    margin-left: 0.5em;
}
.nav--links a {
    text-decoration: none;
    color: $header--primary--color;
}
.header--buttons {
    grid-area: buttons;
    // border: none;
    margin: 15px;
}
.header--buttons a,
.header--buttons button {
    padding: 1em;
}
.bars--button {
    // display: none;
    background-color: transparent;
    border: 1px solid inherit;
    cursor: pointer;
    color: inherit;
    padding: 0.2em;
    border-radius: 5px;
}
.header--bottom {
    display: flex;
    // justify-content: flex-end;
    background-color: #ececec;
    grid-area: title;
    color: #525352;
    align-items: center;
    justify-content: end;
}
.header--title {
    // text-align: right;
    width: calc(100% - 80px);
    font-size: 20px;
    font-weight: 300;
}
.header--logo {
    background: url('./asset/byui-blackbox.jpg') no-repeat;
    background-size: contain;
    height: 100%;
    grid-area: logo;
}
