@mixin row() {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;
    height: 100%;
}

@mixin col($span-num) {
    flex: 0 0 $one-column * $span-num;
}

@mixin offset($offset-num) {
    margin-left: $one-column * $offset-num;
}

@mixin center-text() {
    text-align: center;
}

@mixin border($color: gray){
    border: 1px solid $color;
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.397);
}