//variables to setup basic size and shape of the card and pips
$num-columns : 12;
$one-column : 100% / $num_columns;
$loop-start: 1;
$loop-end: $num-columns +1;
$half-row: 6;
$full-row: 12;

// colors
$primary-color: #88a090;
$secondary-color: #baa793;
$tertiary-color: #3e5330;
$quaternary-color: #443f34;
$light: #fafafa;
$dark: #3b3a3a;

//fonts
$primary-font: "Francois One", sans-serif;
$secondary-font: "Open Sans", sans-serif;
