.supporting {
    @extend .p-40;
    @extend .m-t-50;
    @include row();
    background: $quaternary-color;
    color: $light;
    font-family: $secondary-font;

    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
}

.explanation {
    background: $secondary-color;
    color: $dark;
    @extend .p-40;
    @include col($half-row);
}

.participation {
    @extend .p-40;
    @include col($half-row);
    background: $tertiary-color;
    color: $light;
    line-height: 31px;

    a {
        margin: 0 2px;
        padding: 0 2px;
        background-color: $light;
        color: $dark;
    
        &:hover {
            background: $dark;
            color: $light;
        }
    }
}

.benefits {
    @extend .p-40;
    background: $secondary-color;
    color: $light;
}

.requirements {
    @extend .p-40;
    background: $primary-color;
    color: $dark;
}
